{% extends "layout.html" %}

{% block content %}
<div id="map" class="container">

</div>
<div id="selections" class="container">
    <form role="form" method="POST">
        <label for="hotel">Hotels</label>
        <br>
        <select name="hotel">
            {% for hotel in hotels %}
            <option value="{{ hotel.name }}">{{ hotel.name }}</option>
            {% endfor %}
        </select>
        <button> + </button>
        <br>
        <label for="restaurant">Restaurants</label>
        <br>
        <select name="restaurant">
            {% for restaurant in restaurants %}
            <option value="{{ restaurant.name }}">{{ restaurant.name }}</option>
            {% endfor %}
        </select>
        <button> + </button>
        <br>
        <label for="activity">Activities</label>
        <br>
        <select name="activity">
            {% for activity in activities %}
            <option value="{{ activity.name }}">{{ activity.name }}</option>
            {% endfor %}
        </select>
        <button> + </button>
        <br>
    </form>
</div>
<div id="dayplanner" class="container">
  <div>
    <p> Day Planner </p>
  </div>
  <div>
    <button id="day1"> 1 </button>
    <button id="day2"> 2 </button>
    <button id="day3"> 3 </button>
  </div>
  <div>
    <h5></h5>
    <p></p>
    <button> X </button>

    <h5></h5>
    <p></p>
    <button> X </button>

    <h5></h5>
    <p></p>
    <button> X </button>
  </div>
</div>

{% endblock %}